<a href="javascript:goToCart()">Ir al carrito</a>

<section>
  <p>
    Bienvenido
    {{session.name}}
    <button onclick="javascript:logout()">Log out</button>
  </p>
  <h1>Products</h1>
  {{#each products}}
    <article>
      <h4>{{this.title}}
        <strong>€{{this.price}}</strong>
        {{#if ../isAdmin}}
          <button
            onclick="javascript:addProductToCart('{{this._id}}')"
          >Edit</button>
        {{/if}}
        <button
          onclick="javascript:addProductToCart('{{this._id}}')"
        >🛒</button>
      </h4>
      <p>{{this.description}}</p>
    </article>
  {{/each}}

  {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"><button>Anterior</button></a>
  {{/if}}

  {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"><button>Siguiente</button></a>
  {{/if}}
</section>
<script src="/app.js"></script>